@import "../../../_variables.scss";
.timeline {
  position: relative;
color: $dark100;
}


.timeline__element {
  display: flex;

}

.timeline__element:last-of-type {
  margin-bottom: 0;
}
.timeline__element-name {
  @include standardText(1.125rem, 600);
  display: flex;
  align-items: flex-start;
}

.timeline__element-logo--wrapper {
  min-width: 35px;
  display: flex;
  align-items: center;
}

.timeline__element-logo {
  height: 25px;
  margin-right: 5px;
}

.timeline__element-center {
  min-width: 40px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timeline__element-position {
  margin-top: 4px;
  @include standardText();
}
.timeline__center-inner {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //box-shadow: 0 5px 20px 0 $boxShadowColor;
  position: relative;
  z-index: 2;
}

.timeline__element:not(:last-child) .timeline__element-center::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: $primary;
}


.timeline__center-inner::before {
  content: '';
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background: $primary;
}

.timeline__element-achievements {
  //max-height: 95px;
  margin-top: 2px;
  @include standardText(0.875rem, 300)
}
.timeline__element-achievements:last-child{
  padding-bottom: 16px;
}
.timeline__achievement-wrapper {
  display: flex;
}

.timeline__achievements-label {
  background-color: $primary;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  width: 6px;
  min-width: 6px;
  height: 6px;
  border-radius: 50%;
}
