@import "./_variables.scss";


.root{
  max-width: 1440px;
  margin: 0 auto;
}
.body {
  display: flex;

}

.main {

  padding: 10px 5px 0 20px;
  flex-grow: 1;
  min-width: 600px;
}
.aside {
  background: $light200;

  min-width: 330px;
  padding: 20px;
  height: 100%;
}


@media print {
  @page {
    size: auto;
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .avoid-page-break {
    page-break-inside: avoid;
  }
}
