@import "../../../_variables";

.language {
  display: flex;
  padding-bottom: 4px;
}
.language:last-of-type{
  padding-bottom: 0;
}
.language__flag {
  @include standardText();
  margin-right: 4px;
}

.language__level {
  @include standardText(1rem, 300);
}
.language__image{
  height: 16px;
  width: 16px;
  margin-top: 3px;
  margin-right: 10px;

}
