@import "../../../_variables.scss";

.header {

  background: $dark100;

}
.header__wrapper{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  min-height: 120px;
  padding: 20px 40px;
  position: relative;
}


.header__contacts {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header__contacts-wrapper {
  padding-right: 30px;
}

.header__contacts-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  @include lightText;
}
.header__contacts-row:last-of-type{
  margin-bottom: 0;
}
.header__contacts-row i {
  margin-right: 8px;
}

.header__name {
  margin-bottom: 5px;
  color: $light;
}

.header__position {
  @include lightText;
}

.header__contacts-icon {
  padding-right: 10px;
}
@media screen and (max-width: 1000px) {
  .header__wrapper{
    flex-direction: column;
  }
  .header__contacts {
    margin-left: 0;
    justify-content: flex-start;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__contacts-wrapper{
    padding-bottom: 8px;
  }
  .header__contacts-wrapper:last-of-type{
    padding-bottom: 0;
  }

}
